<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5 py-5">
                <!-- <div class="text-center">
                    <i class="bi bi-person-bounding-box fa-2x"></i>
                </div> -->
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your login
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

                    
                <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()"  >

                    <div class="form-group">
                        <input type="email" 
                                id="email" 
                                placeholder="Email..." 
                                class="form-control" 
                                name="email"
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                formControlName="email" />
                    </div>

                    <ng-container *ngIf="loginForm.get('email')?.touched">
                        <p class="error" *ngIf="loginForm.get('email')?.errors?.['required']">
                            Email is required!
                        </p>
                
                        <p class="error" *ngIf="loginForm.get('email')?.errors?.['pattern']">
                            Email is not correct!
                        </p>
                      </ng-container>


                    <div class="form-group">
                        <input type="password" 
                                id="password" 
                                placeholder="Password" 
                                class="form-control"
                                name="password" 
                                pattern="^.{5,}$" 
                                formControlName="password"/>
                    </div>
                    <ng-container *ngIf="loginForm.get('password')?.touched">
                        <p class="error" *ngIf="loginForm.get('password')?.errors?.['required']">
                            Password is required!
                        </p>
                
                        <p class="error" *ngIf="loginForm.get('password')?.errors?.['pattern']">
                            Password need to be 5+ symbols!
                        </p>
                      </ng-container>


                    <input type="submit" class="btn btn-primary w-100" value="Login" name=""/>

                </form>

            </div>
            <div class="card-footer text-right">
                <small><a href="register">Not Register?</a></small>
            </div>
        </div>
    </div>
</div>
