<header>
  <!-- NavBar -->
  <nav class="navbar navbar-expand-lg navbar-light nav-yellow  border-bottom border-top p-0">
      <div class="container">
          <a class="navbar-brand fs-4 fw-bold"     routerLink="/products"   ><i class="fa fa-cart-shopping fs-4"
                  style="color: #f54242;"><i class="bi bi-shop"></i></i><span class="textBlur"> Pepi Shop</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <!--Toggle  -->
              <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Nav Items -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0  text-center ">

                  <li class="nav-item">
                      <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/home">Home</a>
                  </li>

                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle fw-semibold text-uppercase  me-1 text-danger" href="#"
                          id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Shop
                      </a>
                      <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item "  href="/products"   >Fashion 1</a></li>
                          <li><a class="dropdown-item"   href="/products"   >Fashion 2</a></li>
                          <li><a class="dropdown-item"    href="/products"  >furniture 1</a></li>
                      </ul>
                  </li>
                                 
                  <li class="nav-item">
                      <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/about">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/contact">Contact us</a>
                  </li>
                  <li class="nav-item"  *ngIf="!isUserLogIn"  >
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/login">Login</a>
                  </li>
                  <li class="nav-item"  *ngIf="!isUserLogIn"  >
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/register">Register</a>
                  </li>
                  <li class="nav-item"  *ngIf="isUserLogIn"  >
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" (click)="logout()" href="/home">Logout</a>
                  </li>
                  <li class="nav-item"  *ngIf="isUserLogIn"  >
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item"  *ngIf="isUserLogIn"  >
                    <a class="nav-link fw-semibold text-uppercase text-black  me-1" href="/create">Create</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                        <i class="fa-solid fa-magnifying-glass fs-5" style="color: #0c0d0d;">
                          <i class="bi bi-search"></i>
                        </i>
                      </a>
                  </li>

                  <!-- cart -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="fa fa-cart-shopping fs-5 me-1" style="color: #202122;"><i class="bi bi-cart4"></i></i>
                      </a>
                       <ul class="dropdown-menu menuOnLeft   rounded-0 mt-2" aria-labelledby="navbarDropdown3">
                         <ng-container      >
                            <li class="p-2"       > 
                                <div class="d-flex w-100 border-bottom justify-content-evenly">
                                   <div>
                                      <img style="height: 80px !important;" class="img-fluid p-2" src="#" alt="">
                                   </div> 
                                    <div>
                                        <a href="#" class="text-decoration-none text-black fw-semibold">
                                            <p class="m-0 p-0">productName</p>
                                        </a>
                                        <p>1 <i class="fa-solid fa-xmark" style="color: #0d0d0d;"><i class="bi bi-x-lg"></i></i> $ 150</p>
                                    </div>
                                    <button type="button" class="btn fs-5 closeBtn"                >
                                      <i class="fa-solid fa-xmark"><i class="bi bi-x-lg"></i></i>
                                    </button>
                                </div>
  
                            </li>
                           
                            <li class="p-2">
                                <div class=" w-100 ">
                                    <div class="d-flex justify-content-between">
                                        <h6>SubTotal :</h6>
                                        <h6>$159.00</h6>
                                    </div>
                                    <div class="d-flex justify-content-evenly mt-2">
                                        <button class="btn btn-dark rounded-0 px-3"> View Cart</button>
                                        <a   href="#"> <button class="btn btn-danger rounded-0 px-3">Checkout</button></a>
                                    </div>
  
                                </div>
                            </li>
                         </ng-container> 

                         <ng-container      >
                            <li class="p-2">
                                <div class=" w-100 text-center">
                                     <h6>Cart Is Empty</h6>
  
                                </div>
                            </li>
                         </ng-container> 

                      </ul>
                  </li>
                  
                  
              </ul>
          </div>
      </div>
  </nav>
</header>




<router-outlet />







<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="#" class="me-4 text-reset">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="me-4 text-reset">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="me-4 text-reset">
            <i class="bi bi-google"></i>
        </a>
        <a href="#" class="me-4 text-reset">
            <i class="bi bi-instagram"></i>
        </a>
        <a href="#" class="me-4 text-reset">
            <i class="bi bi-linkedin"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Pepi Shop
            </h6>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui ducimus maxime hic, quas earum atque! Ut doloremque inventore nihil minima.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">T-shirts</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Watches</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Shoes</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Jackets</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info&#64;example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-reset fw-bold" href="#">Pepi Shop</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->