<!-- banner -->
<div class="main-banner" id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <div class="thumb">
                        <div class="inner-content">
                            <h4>We Are Pepi Shop</h4>
                            <span>Awesome products for You, friends & your Family!</span>
                            <div class="main-border-button">
                                <a routerLink="#">Purchase Now!</a>
                            </div>
                        </div>
                        <!-- <img src="images/left-banner-image.jpg" alt=""> -->
                        <img alt="welcome" src="../../../assets/images/left-banner-image.jpg" >
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Women</h4>
                                        <span>Best Clothes For Women</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Women</h4>
                                            <p>Find the perfect outfit for the right moment now!.</p>
                                            <div class="main-border-button">
                                                <a  routerLink="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/baner-right-image-01.jpg" alt="Women"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Men</h4>
                                        <span>Best Clothes For Men</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Men</h4>
                                            <p>Style and vision are a way of life for us!</p>
                                            <div class="main-border-button">
                                                <a routerLink="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/baner-right-image-02.jpg" alt="Men"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Kids</h4>
                                        <span>Best Clothes For Kids</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Kids</h4>
                                            <p>The perfect clothes for your precious child!</p>
                                            <div class="main-border-button">
                                                <a routerLink="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/baner-right-image-03.jpg" alt="Kids"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="right-first-image">
                                <div class="thumb">
                                    <div class="inner-content">
                                        <h4>Accessories</h4>
                                        <span>Best Trend Accessories</span>
                                    </div>
                                    <div class="hover-content">
                                        <div class="inner">
                                            <h4>Accessories</h4>
                                            <p>watches, bracelets, locket, rings, brooches... we have everything you can think of!</p>
                                            <div class="main-border-button">
                                                <a routerLink="#">Discover More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="../../../assets/images/baner-right-image-04.jpg" alt="Accessories"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->


<!-- explore products -->
<div class="section" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content">
                    <h2>Explore Our Products</h2>
                    <span>We all love getting new pieces for our wardrobe or home, but sometimes it's not easy on our wallets. 
                         </span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>That's why we have amazing offers for everyone in the family to enjoy!</p>
                    </div>
                    <p>From women's clothing offers, and men's clothing offers, to kids' offers, there's something for everyone in your family at discounted prices. It doesn't stop there either we also have offers on homeware that allow you to freshen up your interiors without breaking the bank. Keep up to date with our latest offers and don't miss out!</p>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Please also tell your friends about our great website. Thank you.</p>
                    </div>
                    <div class="main-border-button">
                        <a href="#">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="leather">
                                <h4>Accessories</h4>
                                <p>Latest Collection</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="first-image">
                                <img src="../../../assets/images/explore-image-01.jpg" alt="Random1"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="second-image">
                                <img src="../../../assets/images/explore-image-02.jpg" alt="Random2"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="types">
                                <h4>Different Clothes</h4>
                                <p>Over 304 Products</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- explore products end -->



<!-- Latest Products  -->

<div id='products-wrapper-box1'>
    <div class="container-last-products-new">
	    <div class="row">
		    <div class="col-md-12">
			    <h2 class='latest-h2-control'>Latest Products</h2>
			<div id="myCarousel" class="carousel-box-latest slide">
			
			<div class="carousel-inner">
				<div class="item active">
					<div class="row">

						<!-- {latestProducts.map(product => <ProductCard  key={product._id} {...product}/>)}
						{!latestProducts.length && (<h2 id='no-result-search'>Sorry... No Products to show You!</h2> )} -->

<!-- "_ownerId": "60f0cf0b-34b0-4abd-9769-8c42f830dffc",
     "product": "nike",
     "manufacturer": "nikebG",
     "description": "sdadsa sadasd asd asd",
     "price": "11",
     "quantity": "1",
     "photo": "https://www.buzzsneakers.bg/files/thumbs/files/images/slike-proizvoda/media/390/390025-01/images/thumbs_800/390025-01_800_800px.jpg",
     "_createdOn": 1701698140469,
     "_id": "44cda08a -->

                        <!-- <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                                         class="img-responsive" 
                                         alt="topProduct1" />									
                                </div>
                            <div class="thumb-content">
                                <h4>Product Name</h4>									
                                <p class="item-price"><b>$ 155</b></p>
                                <a routerLink="#" class="btn btn-primary">See more!</a>
                            </div>						
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                                         class="img-responsive" 
                                         alt="topProduct1" />									
                                </div>
                            <div class="thumb-content">
                                <h4>Product Name</h4>									
                                <p class="item-price"><b>$ 155</b></p>
                                <a routerLink="#" class="btn btn-primary">See more!</a>
                            </div>						
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                                         class="img-responsive" 
                                         alt="topProduct1" />									
                                </div>
                            <div class="thumb-content">
                                <h4>Product Name</h4>									
                                <p class="item-price"><b>$ 155</b></p>
                                <a routerLink="#" class="btn btn-primary">See more!</a>
                            </div>						
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="thumb-wrapper">
                                <div class="img-box">
                                    <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?q=80&w=1996&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
                                         class="img-responsive" 
                                         alt="topProduct1" />									
                                </div>
                            <div class="thumb-content">
                                <h4>Product Name</h4>									
                                <p class="item-price"><b>$ 155</b></p>
                                <a routerLink="#" class="btn btn-primary">See more!</a>
                            </div>						
                            </div>
                        </div> -->


                        <div>
                            <!-- <h2 *ngIf="data.hasError">Unable to call the API</h2> -->
                            <!-- <p>{{ data?.name }}</p> -->
                        </div>

                        
	
					</div>
				</div>
			</div>	
		
		</div>
		</div>
	</div>
  </div>

</div> 

<!-- Latest Products end -->