<section id="product">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="productHeading text-center">
                    <h2 class="mb-3">Exclusive Products</h2>

                    <ul class="list-unstyled d-flex flex-md-row  justify-content-center ">
                        <li               >
                            <a  class=" m-4  text-decoration-none  fw-semibold"       >categoryName</a>
                        </li>
                        
                    </ul>
                </div>
            </div>


            <div class="col-12">

                <div class="row mt-3">
                    <div class="col-lg-3 col-md-6 "    >
                        <div class="box-shadow">
                            <div class="card mt-2">
                                <img   src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    class="card-img-top img-fluid" alt="image...">
                                <div class="card-body">
                                    <h5 class="card-title">productShortName</h5>
                                    <p class="card-text"><span
                                            class="text-danger fw-semibold me-2">$ 777</span> 
                                         
                                    </p>
                                    <div class="row">
                                        <div class="col-6">
                                            <span><i class="fa-solid fa-star  m-0" style="color: #f1f50f;"><fa-icon [icon]="faStar"></fa-icon></i></span> 
                                            <span><i class="fa-solid fa-star  m-0" style="color: #f1f50f;"><fa-icon [icon]="faStar"></fa-icon></i></span>
                                            <span><i class="fa-solid fa-star-half-stroke  m-0" style="color: #f1f50f;"><fa-icon [icon]="faStarHalf"></fa-icon></i></span>
                                            <span class="text-muted">(25)</span>
                                        </div>
                                        <div class="col-6">
                                            <p class="text-end pb-0 mb-0"><button  
                                                class="btn  text-end btn-sm btn-success p-2"><i
                                                    class="fa-solid fa-cart-plus fs-5"
                                                    style="color: #0c0d0d;"><fa-icon [icon]="faCartPlus"></fa-icon></i></button></p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div> 
                </div>

            </div>
        </div>
    </div>

</section>